body {
    padding: 0;
    margin: 0;}

.container1 {
    background-color: white;
    width: 500px;
    margin: 25px auto;
    padding: 0; 
    text-align: left;
    display: block;}

.container2 {
    background-color: white;
    width: 375px;
    margin: 10px auto;
    padding: 53px; 
    text-align: left;
    border: 10px solid blue;
    display: block;}